<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">My Angpage</a>
    <button class="navbar-toogler" type="button" data-bs-tooglr="collapse" aria-controls="navbarSupportedContent" aria-Controls="false" aria-label="Toggle">
       
    </button>
    <div class="collapse navbar-collapse" id =navbarSupportedContent>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="*#">Acceuil</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<p>{{secondes}}</p>

<router-outlet></router-outlet>